Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

refactor(wait): disallow interval=None in wait functions
  psycopg/psycopg/abc.py
  psycopg/psycopg/connection.py
  psycopg/psycopg/connection_async.py
  psycopg/psycopg/waiting.py
  psycopg_c/psycopg_c/_psycopg/waiting.pyx
  tests/test_waiting.py
Due: isort, black, flake8, mypy

test: improve wait functions tests
  tests/test_waiting_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

ci: use working test server on macOS
  .github/workflows/packages-bin.yml
  .github/workflows/tests.yml
Due: none

fix: fix return values of wait_poll(), wait_epoll()
  psycopg/psycopg/waiting.py
  tests/test_waiting.py
Due: isort, black, flake8, mypy

test: make AEvent.wait_timeout() return False on timeout
  tests/acompat.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
  tests/pool/test_pool_common.py
  tests/pool/test_pool_common_async.py
  tests/pool/test_pool_null.py
  tests/pool/test_pool_null_async.py
Due: isort, black, flake8, mypy

fix(c): fix polling for read+write
  docs/news.rst
  psycopg_c/psycopg_c/_psycopg/waiting.pyx
Due: isort

ci: test with PostgreSQL 18 final image
  .github/workflows/tests.yml
Due: none

refactor: check for closed connection in wait functions
  psycopg/psycopg/waiting.py
  psycopg_c/psycopg_c/_psycopg/waiting.pyx
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy

fix: consider a connection closed in poll() only if it's not ready too
  psycopg/psycopg/waiting.py
  psycopg_c/psycopg_c/_psycopg/waiting.pyx
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy

test: fix decorator to skip tests on crdb because of any db name accepted
  tests/fix_crdb.py
  tests/pq/test_pgconn.py
  tests/test_connection.py
  tests/test_connection_async.py
  tests/test_errors.py
  tests/test_waiting.py
Due: isort, black, flake8, mypy

fix(c): fix timeout calculation in select-based wait function
  docs/news.rst
  psycopg_c/psycopg_c/_psycopg/waiting.pyx
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy

test: longer sleep to test for idle timeout exception
  tests/test_connection.py
  tests/test_connection_async.py
Due: isort, black, flake8, mypy

ci: enable tests on PR
  .github/workflows/tests.yml
Due: none

test: add test to reproduce set_types being ignored
  tests/test_copy.py
  tests/test_copy_async.py
Due: isort, black, flake8, mypy

fix: consistent error passing a row with mismatched size to copy
  psycopg/psycopg/_py_transformer.py
  tests/test_copy.py
  tests/test_copy_async.py
Due: isort, black, flake8, mypy

fix(c): respect the set_types() definitions in text format
  psycopg_c/psycopg_c/_psycopg/copy.pyx
  psycopg_c/psycopg_c/_psycopg/transform.pyx
  psycopg_c/psycopg_c/types/numeric.pyx
  tests/test_copy.py
  tests/test_copy_async.py
Due: isort, black, flake8, mypy

docs: mention issue #1153 fix in news file
  docs/news.rst
Due: none

test: add test to reveal the buffer corruption on dump error
  tests/test_copy.py
  tests/test_copy_async.py
Due: isort, black, flake8, mypy

fix(c): fix copy buffer corruption on dumping error
  psycopg/psycopg/_copy_base.py
  psycopg_c/psycopg_c/_psycopg/copy.pyx
Due: isort, black, flake8, mypy

refactor: drop copy format code path with buffer creation
  psycopg/psycopg/_copy_base.py
  psycopg_c/psycopg_c/_psycopg.pyi
  psycopg_c/psycopg_c/_psycopg/copy.pyx
Due: isort, black, flake8, mypy

added transaction attribute to record rollback/commit
  psycopg/psycopg/transaction.py
Due: isort, black, flake8, mypy

c_range + inner dumper test implementation
  bench_range.py
  psycopg/psycopg/types/range.py
  psycopg_c/psycopg_c/types/numeric.pyx
Due: isort, black, flake8, mypy

created transaction_state enum to track state
  psycopg/psycopg/transaction.py
Due: isort, black, flake8, mypy

cleanup code
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort
