Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

docs: fix grammar and punctuation in sql module docstrings
  psycopg/psycopg/sql.py
Due: isort, black, flake8, mypy

fix(c): avoid a Cython 3.3 variable redeclaration
  psycopg_c/psycopg_c/_psycopg/generators.pyx
Due: isort

fix: treat SystemExit as an interruption in Connection.wait (Closes #1384)
  psycopg/psycopg/connection.py
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

test: narrow proc Optional before send_signal (lint)
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

style: normalize blank lines around added tests
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

style: black formatting for tests/test_concurrency.py
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

style: isort import order in tests/test_concurrency.py
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

fix(c): fix building extension with Cython >= 3.3
  docs/news.rst
  psycopg_c/psycopg_c/_psycopg/generators.pyx
Due: isort

chore(c): avoid lint problem on Python 3.14 in build backend
  psycopg_c/build_backend/psycopg_build_ext.py
Due: isort, black, flake8, mypy

fix(rows): raise DataError on duplicate column names in namedtuple_row
  docs/news.rst
  psycopg/psycopg/rows.py
  tests/test_rows.py
Due: isort, black, flake8, mypy

test(rows): test duplicate column names via the public interface
  tests/test_rows.py
Due: isort, black, flake8, mypy

chore: bump dependency libraries to latest versions
  .github/workflows/build-and-cache-libpq.yml
  .github/workflows/packages-bin.yml
  tools/ci/build_libpq.sh
Due: none

chore: limit isort version to < 9
  psycopg/pyproject.toml
Due: none

chore: update Python version in 3rd party tests
  .github/workflows/3rd-party-tests.yml
  docs/release.rst
Due: none

test: only run the SQLAlchemy tests suggested by its authors
  .github/workflows/3rd-party-tests.yml
Due: none

Fix flaky `test_stats_usage` test
  tests/pool/test_pool_common.py
  tests/pool/test_pool_common_async.py
Due: isort, black, flake8, mypy

Add support for Python 3.15
  .github/workflows/build-and-cache-libpq.yml
  .github/workflows/lint.yml
  .github/workflows/packages-bin.yml
  .github/workflows/tests.yml
  docs/basic/install.rst
  docs/news.rst
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
  psycopg_pool/pyproject.toml
Due: none

fix: raise ProgrammingError for infinite connect_timeout
  psycopg/psycopg/conninfo.py
  tests/test_conninfo.py
Due: isort, black, flake8, mypy

fix: just catch any type of exception converting the timeout to int
  psycopg/psycopg/conninfo.py
Due: isort, black, flake8, mypy

fix: raise DataError when binary copy field length exceeds data
  docs/news.rst
  psycopg/psycopg/_copy_base.py
  tests/test_copy.py
  tests/test_copy_async.py
Due: isort, black, flake8, mypy

fix(isort): restore psycopg import style with isort 9
  psycopg/pyproject.toml
  pyproject.toml
  tools/isort-psycopg/isort_psycopg.py
Due: isort, black, flake8, mypy

ci(lint): install the local isort-psycopg plug-in so the isort 9 fix is exercised
  .github/workflows/lint.yml
Due: none

fix: support aliases for client encodings
  psycopg/psycopg/_encodings.py
Due: isort, black, flake8, mypy

docs: add client encoding alias news entry
  docs/news.rst
Due: none

chore: drop unneeded enum alias
  psycopg/psycopg/_encodings.py
Due: isort, black, flake8, mypy

test: client encoding aliases
  tests/test_encodings.py
Due: isort, black, flake8, mypy

refactor: don't store the encodings raw table as a dict
  psycopg/psycopg/_encodings.py
  tests/test_encodings.py
Due: isort, black, flake8, mypy

fix(copy): handle truncated binary row headers
  psycopg/psycopg/_copy_base.py
  psycopg_c/psycopg_c/_psycopg/copy.pyx
  tests/test_copy_base.py
Due: isort, black, flake8, mypy

test: drop useless parametrization of copy binary parsigh test
  tests/test_copy_base.py
Due: isort, black, flake8, mypy

test: move existing COPY format parsing tests into a single module
  tests/test_copy.py
  tests/test_copy_async.py
  tests/test_copy_base.py
  tests/test_copy_parsing.py
Due: isort, black, flake8, mypy

docs: put together different issues fixed around copy parsing
  docs/news.rst
Due: none

fix: clearer error messages according to truncated copy message part
  psycopg/psycopg/_copy_base.py
  psycopg_c/psycopg_c/_psycopg/copy.pyx
Due: isort, black, flake8, mypy

chore: bump psycopg package version to 3.3.5
  docs/news.rst
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

chore: bump psycopg package version to 3.3.6.dev1
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

fix(isort-psycopg): compatible with isort >= 9 (bump 0.0.3)
  tools/isort-psycopg/isort_psycopg.py
Due: isort, black, flake8, mypy

fix(isort-psycopg): compatible with isort >= 9 (bump 0.0.3)
  tools/isort-psycopg/pyproject.toml
Due: none

fix: cancel in-flight query on SystemExit in Connection.wait
  psycopg/psycopg/connection.py
  psycopg/psycopg/connection_async.py
  tests/test_concurrency.py
  tests/test_concurrency_async.py
Due: isort, black, flake8, mypy

test: mark mock connections closed in SystemExit wait tests
  tests/test_concurrency.py
  tests/test_concurrency_async.py
Due: isort, black, flake8, mypy
