Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

address PR remarks.
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

testcase for pagination
  tests/test_row_pagination_c.py
Due: isort, black, flake8, mypy

apply faster len versions
  psycopg_c/psycopg_c/_psycopg/copy.pyx
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

ci: run lint/tests in any branches
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

chore(ci): bump crdb test versions
  .github/workflows/tests.yml
Due: none

chore: bump mypy, remove a now unneeded ignore
  psycopg/pyproject.toml
  tests/constraints.txt
  tests/types/test_uuid.py
Due: isort, black, flake8, mypy

test: fix tests with master version of crdb
  tests/_test_cursor.py
Due: isort, black, flake8, mypy

chore: remove ignore unneeded in mypy >= 1.18.1
  pyproject.toml
  tests/types/test_uuid.py
Due: isort, black, flake8, mypy

fix windowing increment
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

some cleanup
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

resort back to col-row iteration
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

last code version with page_size attribute
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

alloca for the rescue
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

cleanup code
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

fix: basic Cython improvements to row iteration
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/_psycopg/transform.pyx
  tests/test_row_pagination_c.py
Due: isort, black, flake8, mypy

test: add a couple of test implementation for load_rows
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

Introduce a way to update connection pool credentials dynamically without requiring pool recreation.
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

addressing PR remarks.
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

ci: enable pull requests NOMERGE
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

addressing linter remarks.
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

addressing linter remarks.
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

fix(c): fix excessive buffer allocation in binary copy
  docs/news.rst
  psycopg_c/psycopg_c/_psycopg/copy.pyx
  tests/test_copy.py
  tests/test_copy_async.py
Due: isort, black, flake8, mypy

fix(copy): avoid sending copy data if an error is set
  psycopg/psycopg/_copy.py
  psycopg/psycopg/_copy_async.py
Due: isort, black, flake8, mypy

working with linter remarks.
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

working with linter remarks.
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

working with linter remarks.
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

working with linter remarks.
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

working with linter remarks.
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

working with linter remarks.
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/pool.py
Due: isort, black, flake8, mypy

chore: have a scrap directory where to put work scripts light on myoy
  .gitignore
  pyproject.toml
Due: none

fix: drop warning for objects passed as JSON lods/dump function
  psycopg/psycopg/types/json.py
Due: isort, black, flake8, mypy

fix: don't raise a warning using a builtin for JSON dumps/loads
  docs/news.rst
  psycopg/psycopg/types/json.py
  tests/types/test_json.py
Due: isort, black, flake8, mypy
