Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

fix: retain statusmessage after executemany with returning=False
  docs/news.rst
  psycopg/psycopg/_cursor_base.py
  tests/test_cursor_common.py
  tests/test_cursor_common_async.py
Due: isort, black, flake8, mypy

fix(pool): fix race in the construction of the sync ConnectionPool lock
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

chore: bump psycopg package version to 3.3.4
  docs/news.rst
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

chore: bump psycopg_pool package version to 3.3.1
  docs/news_pool.rst
  psycopg_pool/pyproject.toml
Due: none

feat(pool): add dedicated_connection() to ConnectionPool and AsyncConnectionPool
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
  tests/pool/test_pool_null.py
  tests/pool/test_pool_null_async.py
Due: isort, black, flake8, mypy

feat(pool): add dedicated_connection() method
  docs/api/pool.rst
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

fix: keep autogenerated blank line in converted test
  tests/pool/test_pool.py
Due: isort, black, flake8, mypy

feat(pool): address review on dedicated_connection
  docs/api/pool.rst
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

test(pool): accept CockroachDB error in dedicated_connection badstate test
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

style: wrap long pytest.raises line in async pool test
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

fix: discard prepared statement upon ALTER or DISCARD statements
  docs/news.rst
  psycopg/psycopg/_preparing.py
  tests/test_prepared.py
  tests/test_prepared_async.py
Due: isort, black, flake8, mypy

Make lib and install dir configurable through env vars
  psycopg_c/build_backend/psycopg_build_ext.py
Due: isort, black, flake8, mypy

docs
  docs/basic/install.rst
Due: none

Line length
  psycopg_c/build_backend/psycopg_build_ext.py
Due: isort, black, flake8, mypy

test(pool): use context manager in dedicated_connection configure tests
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

psycopg/pq/misc.py: Fix typo in unknown ConnStatus
  psycopg/psycopg/pq/misc.py
Due: isort, black, flake8, mypy

psycopg/sql.py: Fix incorrect error message in SQL.join
  psycopg/psycopg/sql.py
Due: isort, black, flake8, mypy

psycopg/_adapters_map.py: Fix typo in AdaptersMap docstring
  psycopg/psycopg/_adapters_map.py
Due: isort, black, flake8, mypy

pyproject.toml: Fix typo in comment
  pyproject.toml
Due: none

_psycopg.pyx: import Buffer to silence cython warnings
  psycopg_c/psycopg_c/_psycopg.pyx
Due: isort

tools/async_to_sync.py: Log parsing errors
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

WIP: BASE_BACKUP: Partial support for PostgreSQL 14
  psycopg/psycopg/replication/base_replication_cursor.py
  psycopg/psycopg/replication/base_replication_cursor_async.py
Due: isort, black, flake8, mypy

replication_tests: Add replication test fixtures and utility functions
  tests/test_replication/__init__.py
  tests/test_replication/conftest.py
  tests/test_replication/fix_db.py
  tests/test_replication/fix_db_async.py
  tests/test_replication/params.py
  tests/test_replication/utils.py
  tests/test_replication/utils_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

mypy: Upgrade to version 1.20
  psycopg/pyproject.toml
Due: none

docs/README.rst: Add note about required python version
  docs/README.rst
Due: none

tools/async_to_sync.py: Remove reference to no longer existing acompat.anext
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

DISCUSS: fix mypy path so psycopg/ subdir doesn't shadow installed package
  pyproject.toml
Due: none

tests/test_tstring.py: Regression test for incorrect error message in SQL.join
  tests/test_tstring.py
Due: isort

tests/acompat.py: Fix gather to use supplied timeout
  tests/acompat.py
Due: isort, black, flake8, mypy

WIP: pgoutput: Implement unchanged toast values
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
Due: isort, black, flake8, mypy

WIP: BASE_BACKUP: initial support for base backups
  psycopg/psycopg/generators.py
  psycopg/psycopg/replication/base_backup_messages.py
  psycopg/psycopg/replication/base_backup_options.py
  psycopg/psycopg/replication/base_replication_cursor.py
  psycopg/psycopg/replication/base_replication_cursor_async.py
Due: isort, black, flake8, mypy

replication_tests: Add tests for replication connection classes
  tests/test_replication/test_replication_connection.py
  tests/test_replication/test_replication_connection_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

WIP: pgoutput: plugin decoding
  psycopg/psycopg/replication/abc.py
  psycopg/psycopg/replication/base_replication_cursor.py
  psycopg/psycopg/replication/base_replication_cursor_async.py
  psycopg/psycopg/replication/logical_output_plugins/__init__.py
  psycopg/psycopg/replication/logical_output_plugins/abc.py
  psycopg/psycopg/replication/logical_output_plugins/decoder.py
  psycopg/psycopg/replication/logical_output_plugins/logical_rows.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/__init__.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_decoder.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
  psycopg/psycopg/replication/logical_replication_cursor.py
  psycopg/psycopg/replication/logical_replication_cursor_async.py
  psycopg/psycopg/replication/physical_replication_cursor.py
  psycopg/psycopg/replication/physical_replication_cursor_async.py
  psycopg/psycopg/replication/replication_connection_async.py
  psycopg/psycopg/replication/replication_messages.py
Due: isort, black, flake8, mypy

DISCUSS: Use pytest --import-mode=importlib to avoid shadowed psycopg
  pyproject.toml
Due: none

replication_tests: add unit tests for replication utilities
  tests/test_replication/test_pgoutput_options.py
  tests/test_replication/test_replication_utils.py
Due: isort, black, flake8, mypy

replication_tests: add base replication cursor tests
  tests/test_replication/data.py
  tests/test_replication/test_base_replication_cursor.py
  tests/test_replication/test_base_replication_cursor_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

WIP: pgoutput: plugin options
  psycopg/psycopg/replication/__init__.py
  psycopg/psycopg/replication/logical_output_plugins/__init__.py
  psycopg/psycopg/replication/logical_output_plugins/abc.py
  psycopg/psycopg/replication/logical_output_plugins/output_plugin_options.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/__init__.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_options.py
  psycopg/psycopg/replication/logical_replication_cursor.py
  psycopg/psycopg/replication/logical_replication_cursor_async.py
Due: isort, black, flake8, mypy

replication_tests: add logical replication cursor tests
  tests/test_replication/test_logical_replication_cursor.py
  tests/test_replication/test_logical_replication_cursor_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

WIP: Initial replication scaffolding
  psycopg/psycopg/__init__.py
  psycopg/psycopg/_tstrings.py
  psycopg/psycopg/connection.py
  psycopg/psycopg/connection_async.py
  psycopg/psycopg/errors.py
  psycopg/psycopg/generators.py
  psycopg/psycopg/replication/__init__.py
  psycopg/psycopg/replication/base_replication_cursor.py
  psycopg/psycopg/replication/base_replication_cursor_async.py
  psycopg/psycopg/replication/logical_replication_cursor.py
  psycopg/psycopg/replication/logical_replication_cursor_async.py
  psycopg/psycopg/replication/physical_replication_cursor.py
  psycopg/psycopg/replication/physical_replication_cursor_async.py
  psycopg/psycopg/replication/replication_connection.py
  psycopg/psycopg/replication/replication_connection_async.py
  psycopg/psycopg/replication/replication_messages.py
  psycopg/psycopg/replication/replication_options.py
  psycopg/psycopg/replication/replication_utils.py
  psycopg/psycopg/sql.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

tests/utils.py: make pytest.mark.pg '==' op more useful
  tests/utils.py
Due: isort, black, flake8, mypy
