Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black --check --diff
        files: \.py[i]?$

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$

test: soften disconnection tests on platforms knwon to behave differently
  tests/test_connection.py
  tests/test_connection_async.py
Due: black, flake8, mypy

fix: don't clobber an error from the server with a server disconnection
  docs/news.rst
  psycopg/psycopg/generators.py
Due: black, flake8, mypy

test: add test to verify that a server disconnection now raises AdminShutdown
  docs/news.rst
  tests/test_connection.py
  tests/test_connection_async.py
Due: black, flake8, mypy

fix(c): don't clobber an error from the server with a server disconnection
  psycopg/psycopg/generators.py
  psycopg_c/psycopg_c/_psycopg/generators.pyx
Due: black, flake8, mypy

fix(debug): print exceptions eventually raised by libpq calls
  psycopg/psycopg/pq/_debug.py
Due: black, flake8, mypy

test: add test to reproduce the wrong error on disconnect
  tests/test_connection.py
  tests/test_connection_async.py
Due: black, flake8, mypy

refactor: don't keep the notifiers backlog handler in the connection state
  psycopg/psycopg/_connection_base.py
  psycopg/psycopg/connection.py
  psycopg/psycopg/connection_async.py
Due: black, flake8, mypy

ci(macos): build libpq instead of using Homebrew libraries
  .github/workflows/packages-bin.yml
  tools/build/build_libpq.sh
  tools/build/wheel_macos_before_all.sh
Due: none

ci(binary): less verbose libpq build
  tools/build/build_libpq.sh
Due: none

chore(binary): bump OpenSSL to 3.4.0
  .github/workflows/packages-bin.yml
Due: none

chore(binary): bump libpq to 17.2
  .github/workflows/packages-bin.yml
  tools/build/wheel_win32_before_build.bat
Due: none

ci(macos): drop Python 3.8 build on macOS arm64
  .github/workflows/packages-bin.yml
Due: none

docs: mention the binary packages changes in news file
  docs/news.rst
Due: none

tmo: disable unneeded jobs
  .github/workflows/lint.yml
  .github/workflows/packages-bin.yml
Due: none

chore: bump psycopg package version to 3.2.4
  docs/news.rst
  psycopg/setup.cfg
  psycopg_c/setup.cfg
Due: none

chore: bump psycopg package version to 3.2.4
  docs/news.rst
Due: none

ci(crdb): bump CockroachDB versions in tests
  .github/workflows/tests.yml
Due: none

ci(crdb): test with the master release
  .github/workflows/tests.yml
Due: none

ci(crdb): test with oldest supported Python release
  .github/workflows/tests.yml
Due: none

docs(ci): add notes about libpq caching
  .github/workflows/packages-bin.yml
Due: none

chore: typos fixed
  .github/workflows/packages-bin.yml
  psycopg_c/psycopg_c/_psycopg.pyi
Due: black, mypy

docs: document why pre-commit language is set to 'local'
  .pre-commit-config.yaml
Due: none

style: adjust docstrings after black 25.1.0 upgrade
  docs/lib/sql_role.py
  docs/lib/ticket_role.py
  tests/scripts/copytest.py
  tools/update_backer.py
  tools/update_error_prefixes.py
Due: black, flake8, mypy

ci: avoid segfault building binary packages caused by qemu bugs
  .github/workflows/packages-bin.yml
Due: none

ci: bump Python version in Django main test to 3.12
  .github/workflows/3rd-party-tests.yml
Due: none
