Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

test_decoding: Add support for test_decoding output plugin
  psycopg/psycopg/replication/logical_output_plugins/__init__.py
  psycopg/psycopg/replication/logical_output_plugins/decoder.py
Due: isort, black, flake8, mypy

TEMP: Add next steps document
  psycopg/psycopg/replication/NEXT_STEPS.md
Due: none

WIP: tests: Add two-phase commit tests
  tests/test_replication/conftest.py
  tests/test_replication/params.py
  tests/test_replication/test_pgoutput_stream.py
  tests/test_replication/test_pgoutput_stream_async.py
  tests/test_replication/utils.py
  tests/test_replication/utils_async.py
Due: isort, black, flake8, mypy

WIP: perf(c): Cython Speedups for replication
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
  psycopg/psycopg/replication/replication_messages.py
  psycopg_c/psycopg_c/_psycopg.pyi
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/_psycopg/replication.pyx
Due: isort, black, flake8, mypy

replication_tests: workaround for existing bug
  tests/test_replication/test_base_replication_cursor.py
  tests/test_replication/test_base_replication_cursor_async.py
Due: isort, black, flake8, mypy

replication_tests: add unit tests for pgoutput message parsing
  tests/test_replication/pgoutput_message_examples.json
  tests/test_replication/test_pgoutput_messages.py
Due: isort, black, flake8, mypy

WIP: pgoutput: alternative implementation for unchanged TOAST data
  psycopg/psycopg/_py_transformer.py
  psycopg/psycopg/abc.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
  psycopg_c/psycopg_c/_psycopg.pyi
  psycopg_c/psycopg_c/_psycopg/replication.pyx
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort, black, flake8, mypy

WIP: add overloads for BaseReplicationCursor.create_replication_slot()
  psycopg/psycopg/replication/base_replication_cursor.py
  psycopg/psycopg/replication/base_replication_cursor_async.py
Due: isort, black, flake8, mypy

DISCUSS: deduplicate unpacking code in common cases
  psycopg_c/psycopg_c/_psycopg/replication.pyx
Due: isort

TEMP: Get real messages
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_decoder.py
Due: isort, black, flake8, mypy

WIP: docs: Add replication information to psycopg docs
  docs/advanced/index.rst
  docs/advanced/replication.rst
  docs/api/connections.rst
  docs/api/cursors.rst
  docs/api/index.rst
  docs/api/logical_rows.rst
  docs/api/output_plugin_options.rst
  docs/api/pgoutput_messages.rst
  docs/api/replication_decoders.rst
  docs/api/replication_messages.rst
Due: none

WIP: pgoutput: Cache frequently repeated messages
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
  tests/test_replication/test_pgoutput_messages.py
Due: isort, black, flake8, mypy

replication_tests: Add unit tests for replication messages
  tests/test_replication/test_replication_messages.py
Due: isort, black, flake8, mypy

DISCUSS: should we add replication option to the Connection.__repr__
  psycopg/psycopg/pq/misc.py
Due: isort, black, flake8, mypy

perf: intern message type indicators
  psycopg/psycopg/replication/base_backup_messages.py
  psycopg/psycopg/replication/base_replication_cursor.py
  psycopg/psycopg/replication/base_replication_cursor_async.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
  psycopg/psycopg/replication/replication_messages.py
Due: isort, black, flake8, mypy

WIP: pgoutput: Update LogicalRowFactory to take relation_id instead of column names
  psycopg/psycopg/replication/logical_output_plugins/abc.py
  psycopg/psycopg/replication/logical_output_plugins/logical_rows.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_decoder.py
Due: isort, black, flake8, mypy

replication_tests: Add integration tests for pgoutput decoding
  tests/test_replication/test_pgoutput_stream.py
  tests/test_replication/test_pgoutput_stream_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

WIP: physical_replication_cursor: default start_lsn to slot restart_lsn in PhysicalReplicationCursor.start_replication
  psycopg/psycopg/replication/physical_replication_cursor.py
  psycopg/psycopg/replication/physical_replication_cursor_async.py
Due: isort, black, flake8, mypy

replication_tests: add physical replication cursor tests
  tests/test_replication/test_physical_replication_cursor.py
  tests/test_replication/test_physical_replication_cursor_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

DISCUSS: make some tests work with c module
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
  psycopg_c/psycopg_c/_psycopg/replication.pyx
  tests/test_replication/test_pgoutput_messages.py
Due: isort, black, flake8, mypy

Revert "TEMP: Get real messages"
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_decoder.py
Due: isort, black, flake8, mypy

perf: cache row makers for each relation
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_decoder.py
Due: isort, black, flake8, mypy

Various Python compatibility fixes
  psycopg/psycopg/generators.py
  psycopg/psycopg/replication/base_replication_cursor.py
  psycopg/psycopg/replication/base_replication_cursor_async.py
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
  psycopg/psycopg/replication/logical_replication_cursor.py
  psycopg/psycopg/replication/logical_replication_cursor_async.py
  psycopg/psycopg/replication/replication_messages.py
  psycopg/psycopg/replication/replication_utils.py
  tests/test_replication/test_logical_replication_cursor_async.py
  tests/test_replication/test_pgoutput_messages.py
  tests/test_replication/test_replication_messages.py
  tests/test_replication/utils_async.py
Due: isort, black, flake8, mypy

Revert "DISCUSS: Use pytest --import-mode=importlib to avoid shadowed psycopg"
  pyproject.toml
Due: none

Revert "DISCUSS: fix mypy path so psycopg/ subdir doesn't shadow installed package"
  pyproject.toml
Due: none

Python 3.10 compat [skip ci]
  psycopg/psycopg/replication/logical_output_plugins/pgoutput/pgoutput_messages.py
Due: isort, black, flake8, mypy

fix: correct various typos
  psycopg/psycopg/_adapters_map.py
  psycopg/psycopg/pq/misc.py
  pyproject.toml
Due: isort, black, flake8, mypy

test: regression test for incorrect error message in SQL.join
  tests/test_tstring.py
Due: isort

fix: correct error message in SQL.join
  psycopg/psycopg/sql.py
Due: isort, black, flake8, mypy

chore(c): use abc.Buffer to silence cython warnings
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/_psycopg/adapt.pyx
  psycopg_c/psycopg_c/_psycopg/generators.pyx
  psycopg_c/psycopg_c/types/bool.pyx
  psycopg_c/psycopg_c/types/numeric.pyx
  psycopg_c/psycopg_c/types/string.pyx
Due: isort

test(utils): Set default timeout in acompat.gather
  tests/acompat.py
Due: isort, black, flake8, mypy

chore: remove reference to no longer existing acompat.anext
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

feat(dev): Log parsing errors in async_to_sync
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

fix: use cls instead of self for classmethod
  psycopg/psycopg/pq/_debug.py
Due: isort, black, flake8, mypy

docs: set maximum_signature_line_length for legibility
  docs/conf.py
Due: isort, black, flake8, mypy

docs(dev): add info about commit message conventions
  README.rst
Due: none
