Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

fix(copy): avoid sending copy data if an error is set
  psycopg/psycopg/_copy.py
  psycopg/psycopg/_copy_async.py
Due: isort, black, flake8, mypy

working with linter remarks.
  psycopg_pool/psycopg_pool/pool.py
Due: isort, black, flake8, mypy

improve `async_to_sync` script.
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

add new tests. improve existing ones.
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

fixing linter remarks.
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

fixing linter remarks.
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

a bit rename tests.
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

Implement RecordBinaryLoader in Cython
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/types/composite.pyx
Due: isort

docs: document the package to install in the "from psycopg2" page
  docs/basic/from_pg2.rst
  docs/basic/install.rst
Due: none

docs: drop `pq.error_message()` function from public docs
  docs/api/pq.rst
Due: none

feat: add support for setting cursor result set position for multi-result queries
  psycopg/psycopg/_cursor_base.py
  tests/test_cursor_common.py
Due: isort, black, flake8, mypy

docs: installation docs cleanup
  README.rst
  docs/basic/install.rst
Due: none

ci: fix bad expansion of an array variable in build_libpq.sh
  tools/ci/build_libpq.sh
Due: none

ci: fix wrong command
  tools/ci/build_libpq.sh
Due: none

refactor: cleaner inheritance in record/composite loaders
  psycopg/psycopg/types/composite.py
Due: isort, black, flake8, mypy

chore(binary): bump packaged versions of libpq, OpenSSL
  .github/workflows/packages-bin.yml
  tools/build/build_libpq.sh
Due: none

test(django): Remove DEFAULT_AUTO_FIELD setting
  .github/workflows/3rd-party-tests.yml
Due: none

test(django): use DEFAULT_AUTO_FIELD for LTS4 and LTS5
  .github/workflows/3rd-party-tests.yml
Due: none

Update DEFAULT_AUTO_FIELD setting in Django CI workflow (#1182)
  .github/workflows/3rd-party-tests.yml
Due: none

ci: build aarch64 packages using manylinux_2_28 image
  .github/workflows/packages-bin.yml
  tools/build/build_libpq.sh
  tools/build/print_so_versions.sh
  tools/build/wheel_linux_before_all.sh
Due: none

ci: NOMERGE: build and cache the libpq once
  .github/workflows/lint.yml
  .github/workflows/packages-bin.yml
  .github/workflows/tests.yml
Due: none

ci: use os cyrus-sasl library
  tools/build/build_libpq.sh
Due: none

ci: fix bad expansion of an array variable in build_libpq.sh
  tools/build/build_libpq.sh
Due: none

chore(binary): bump packaged versions of libpq, OpenSSL
  .github/workflows/packages-bin.yml
  tools/ci/build_libpq.sh
Due: none

ci: build aarch64 packages using manylinux_2_28 image
  .github/workflows/packages-bin.yml
  tools/ci/build_libpq.sh
  tools/ci/print_so_versions.sh
  tools/ci/wheel_linux_before_all.sh
Due: none

ci: use the system version of the cyrus-sasl library
  tools/ci/build_libpq.sh
Due: none

ci: add workflow to build and cache the libpq
  .github/workflows/build-and-cache-libpq.yml
  .github/workflows/packages-bin.yml
Due: none

fix: consider a connection closed in poll() only if it's not ready too
  psycopg/psycopg/waiting.py
  psycopg_c/psycopg_c/_psycopg/waiting.pyx
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy

test: fix decorator to skip tests on crdb because of any db name accepted
  tests/fix_crdb.py
  tests/pq/test_pgconn.py
  tests/test_connection.py
  tests/test_connection_async.py
  tests/test_errors.py
  tests/test_waiting.py
Due: isort, black, flake8, mypy

fix(c): fix timeout calculation in select-based wait function
  docs/news.rst
  psycopg_c/psycopg_c/_psycopg/waiting.pyx
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy

refactor: check for closed connection in wait functions
  psycopg/psycopg/waiting.py
  psycopg_c/psycopg_c/_psycopg/waiting.pyx
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy
