Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  language: system
  entry: isort --diff --color --check

black:
  name: black
  language: system
  entry: black --check --diff --color --quiet

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy --pretty --follow-imports=silent

fix(adapters): avoid race condition when replacing class name with itself
  docs/news.rst
  psycopg/psycopg/_adapters_map.py
Due: isort, black, flake8, mypy

Use critical section to protect pgconn ptr
  psycopg_c/psycopg_c/pq.pxd
  psycopg_c/psycopg_c/pq/pgconn.pyx
  tests/test_free_threading.py
Due: isort, black, flake8, mypy

chore(ci): drop macos 13 jobs
  .github/workflows/tests.yml
Due: none

Adjust places with interaction with Python inside critical sections
  psycopg_c/psycopg_c/pq/pgconn.pyx
Due: isort

Use the walrus operator
  psycopg_c/psycopg_c/pq/pgconn.pyx
Due: isort

Merge critical section and nogil blocks into one context manager
  psycopg_c/psycopg_c/pq/pgconn.pyx
Due: isort

Gross changes to test column perf.
  psycopg/psycopg/_column.py
  psycopg/psycopg/_cursor_base.py
  psycopg/psycopg/_typeinfo.py
Due: isort, black, flake8, mypy

More tweaks.
  psycopg/psycopg/_column.py
Due: isort, black, flake8, mypy

Column pyx version.
  psycopg/psycopg/_column.py
  psycopg_c/psycopg_c/_psycopg.pyi
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/_psycopg/column.pyx
Due: isort, black, flake8, mypy

More tweaks.
  psycopg/psycopg/_column.py
  psycopg/psycopg/_cursor_base.py
  psycopg_c/psycopg_c/_psycopg/column.pyx
Due: isort, black, flake8, mypy

Remove ValueError
  psycopg/psycopg/_column.py
Due: isort, black, flake8, mypy

Improve performance of BaseCursor.description().
  psycopg/psycopg/__init__.py
  psycopg/psycopg/_column.py
  psycopg/psycopg/_cursor_base.py
  psycopg_c/psycopg_c/_psycopg.pyi
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/_psycopg/column.pyx
Due: isort, black, flake8, mypy

fix: retain pgconn on OperationalError
  docs/news.rst
  psycopg/psycopg/connection.py
  psycopg/psycopg/connection_async.py
  tests/test_connection.py
  tests/test_connection_async.py
Due: isort, black, flake8, mypy

Use `Literal` for `Range.bounds` parameter type hint
  psycopg/psycopg/types/range.py
Due: isort, black, flake8, mypy

ignores
  psycopg/psycopg/types/range.py
  tests/types/test_range.py
Due: isort, black, flake8, mypy

Build cp314t wheels
  .github/workflows/packages-bin.yml
Due: none

fix: correct typo in tstrings error message and fix sql.rst docs
  docs/api/sql.rst
  psycopg/psycopg/_tstrings.py
  psycopg/psycopg/conninfo.py
Due: isort, black, flake8, mypy

fix: fix error message incorrectly generated by Claude AI
  psycopg/psycopg/_tstrings.py
Due: isort, black, flake8, mypy

Fix typos
  docs/advanced/cursors.rst
  docs/api/abc.rst
  docs/api/objects.rst
  docs/api/pool.rst
  docs/basic/install.rst
  docs/news.rst
Due: none

Undo bad corrections
  docs/api/pool.rst
  docs/basic/install.rst
Due: none

docs: fix typos
  docs/advanced/cursors.rst
  docs/api/abc.rst
  docs/api/objects.rst
  docs/basic/install.rst
  docs/news.rst
Due: none

Fix ValueError when server sends ErrorResponse during Sync after Parse
  docs/news.rst
  psycopg/psycopg/_cursor_base.py
Due: isort, black, flake8, mypy

chore: bump psycopg package version to 3.3.3
  docs/news.rst
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

chore: bump psycopg package version to 3.3.4.dev1
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

Replace distutils.log with stdlib logging in psycopg_c build backend
  psycopg_c/build_backend/psycopg_build_ext.py
Due: isort, black, flake8, mypy

Fix docs build on Python 3.13+
  psycopg/pyproject.toml
Due: none

Make the pre-commit hooks work without the virtual env loaded
  .pre-commit-config.yaml
  tools/venv-run
Due: none

Added a Taskfile with a short documentation
  .env.example
  .gitignore
  README.rst
  Taskfile.yml
Due: none

WIP: Support custom PG installations with environment variables
  psycopg/psycopg/pq/misc.py
  psycopg_c/build_backend/psycopg_build_ext.py
Due: isort, black, flake8, mypy

WIP: test runner managed Postgres instances
  tests/conftest.py
  tests/fix_db.py
  tests/fix_pginstance.py
Due: isort, black, flake8, mypy

perf: compute double-percent replacement only once in split_query
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy

perf: get rid of ph_index in _split_query
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy

perf: Don't verify placeholder format twice in _split_query
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy

perf: avoid extra programming error checks in common case
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy

perf: reduce backtracking in _split_query
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.(py[i]?|pxd|pyx)$
  black: any of: \.py[i]?$, but not: tests/test_tstring.py
  flake8: any of: \.py$, but not: tests/test_tstring.py
  mypy: any of: \.py[i]?$, but not: tests/test_tstring.py
