Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

docs: add note about fixing the copy pinning issue
  docs/news.rst
Due: none

chore: bump psycopg package version to 3.2.12
  docs/news.rst
  psycopg/setup.cfg
  psycopg_c/setup.cfg
Due: none

chore: bump psycopg_pool package version to 3.2.7
  docs/news_pool.rst
  psycopg_pool/setup.cfg
Due: none

chore: bump psycopg package version to 3.2.12
  docs/news.rst
Due: none

chore: bump psycopg_pool package version to 3.2.7
  docs/news_pool.rst
Due: none

chore: bump psycopg package version to 3.2.13.dev1
  psycopg/setup.cfg
  psycopg_c/setup.cfg
Due: none

chore: bump psycopg_pool package version to 3.2.8.dev1
  psycopg_pool/setup.cfg
Due: none

docs: add install differences grid
  docs/basic/install.rst
  pyproject.toml
Due: none

test(pool): consider test flakey
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

test(pool): consider another test flakey
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

ci: fix proxy-based tests
  .github/workflows/packages-bin.yml
  tests/fix_proxy.py
  tools/pproxy_fix.py
Due: isort, black, flake8, mypy

ci: update CI configuration to support riscv64 architecture and Rocky Linux
  .github/workflows/packages-bin.yml
  tools/ci/build_libpq.sh
  tools/ci/wheel_linux_before_all.sh
Due: none

ci: extend CI configuration to include riscv64 architecture support on libpq
  .github/workflows/build-and-cache-libpq.yml
Due: none

style: clean up cython code with a pass of cython-lint
  psycopg_c/psycopg_c/_psycopg/adapt.pyx
  psycopg_c/psycopg_c/_psycopg/copy.pyx
  psycopg_c/psycopg_c/_psycopg/endian.pxd
  psycopg_c/psycopg_c/_psycopg/generators.pyx
  psycopg_c/psycopg_c/_psycopg/transform.pyx
  psycopg_c/psycopg_c/pq.pyx
  psycopg_c/psycopg_c/pq/libpq.pxd
  psycopg_c/psycopg_c/pq/pgconn.pyx
  psycopg_c/psycopg_c/types/array.pyx
  psycopg_c/psycopg_c/types/datetime.pyx
  psycopg_c/psycopg_c/types/numeric.pyx
  psycopg_c/psycopg_c/types/string.pyx
Due: isort

chore: remove unneeded type-ignore comment
  psycopg_c/build_backend/psycopg_build_ext.py
Due: isort, black, flake8, mypy

perf: use a C var for comparison instead of a Python var
  psycopg_c/psycopg_c/types/numeric.pyx
Due: isort

chore: add cython-lint to pre-commit hooks
  .pre-commit-config.yaml
  psycopg/pyproject.toml
Due: none

refactor: look up for the oid for None only if None is actually dumped
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

fix(c): allow set_loader_types to be any sequence
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

perf: use PySequence_Fast function instead of slower alternatives
  psycopg_c/psycopg_c/_psycopg/copy.pyx
  psycopg_c/psycopg_c/_psycopg/transform.pyx
  psycopg_c/psycopg_c/pq/pgconn.pyx
Due: isort

docs(pool): add API documentation for conninfo/kwargs as callable
  docs/api/pool.rst
Due: none

feat(pool): allow conninfo/kwargs to be callable
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/_acompat.py
  psycopg_pool/psycopg_pool/abc.py
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/null_pool.py
  psycopg_pool/psycopg_pool/null_pool_async.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

refactor: cleaner inheritance in record/composite loaders
  psycopg/psycopg/types/composite.py
Due: isort, black, flake8, mypy

feat: support loading composite types with keyword arguments
  psycopg/psycopg/types/composite.py
  tests/types/test_composite.py
Due: isort, black, flake8, mypy

refactor: use make_instance instead of use_keywords
  psycopg/psycopg/types/composite.py
  tests/types/test_composite.py
Due: isort, black, flake8, mypy

docs: add docs for register_composite's make_instance param
  docs/basic/pgtypes.rst
  docs/news.rst
  psycopg/psycopg/types/composite.py
Due: isort, black, flake8, mypy

fix(c): fix error revealed by Cython 3.2
  psycopg_c/psycopg_c/pq/escaping.pyx
Due: isort

docs: add generic object to composite adaptation docs
  docs/basic/pgtypes.rst
  psycopg/psycopg/types/composite.py
Due: isort, black, flake8, mypy

feat: add make_sequence parameter to register_dumper
  docs/basic/pgtypes.rst
  docs/news.rst
  psycopg/psycopg/types/composite.py
  tests/types/test_composite.py
Due: isort, black, flake8, mypy

refactor(composite) mark private classes with leading underscore
  psycopg/psycopg/types/composite.py
  tests/types/test_composite.py
Due: isort, black, flake8, mypy

Implement RecordBinaryLoader in Cython
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/types/composite.pyx
Due: isort

Implement Cython RecordLoader
  psycopg_c/psycopg_c/types/composite.pyx
Due: isort

fix(conninfo): improve error message when host resolution fails
  psycopg/psycopg/_conninfo_attempts.py
Due: isort, black, flake8, mypy

Sync async and sync files after improving DNS error message
  psycopg/psycopg/_conninfo_attempts.py
  psycopg/psycopg/_copy.py
  psycopg/psycopg/_pipeline.py
  psycopg/psycopg/_server_cursor.py
  psycopg/psycopg/connection.py
  psycopg/psycopg/cursor.py
  psycopg_pool/psycopg_pool/null_pool.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/sched.py
  tests/crdb/test_connection.py
  tests/crdb/test_copy.py
  tests/crdb/test_cursor.py
  tests/pool/test_pool.py
  tests/pool/test_pool_common.py
  tests/pool/test_pool_null.py
  tests/pool/test_sched.py
  tests/test_connection.py
  tests/test_conninfo_attempts.py
  tests/test_copy.py
  tests/test_cursor.py
  tests/test_cursor_client.py
  tests/test_cursor_common.py
  tests/test_cursor_raw.py
  tests/test_cursor_server.py
  tests/test_notify.py
  tests/test_pipeline.py
  tests/test_prepared.py
  tests/test_tpc.py
  tests/test_transaction.py
  tests/test_waiting.py
Due: isort, black, flake8, mypy

Regenerate sync files using async_to_sync
  psycopg/psycopg/_conninfo_attempts.py
  psycopg/psycopg/_copy.py
  psycopg/psycopg/_pipeline.py
  psycopg/psycopg/_server_cursor.py
  psycopg/psycopg/connection.py
  psycopg/psycopg/cursor.py
  psycopg_pool/psycopg_pool/null_pool.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/sched.py
  tests/crdb/test_connection.py
  tests/crdb/test_copy.py
  tests/crdb/test_cursor.py
  tests/pool/test_pool.py
  tests/pool/test_pool_common.py
  tests/pool/test_pool_null.py
  tests/pool/test_sched.py
  tests/test_connection.py
  tests/test_conninfo_attempts.py
  tests/test_copy.py
  tests/test_cursor.py
  tests/test_cursor_client.py
  tests/test_cursor_common.py
  tests/test_cursor_raw.py
  tests/test_cursor_server.py
  tests/test_notify.py
  tests/test_pipeline.py
  tests/test_prepared.py
  tests/test_tpc.py
  tests/test_transaction.py
  tests/test_waiting.py
Due: isort, black, flake8, mypy

Sync async and sync files after improving DNS error message
  psycopg/psycopg/_conninfo_attempts_async.py
Due: isort, black, flake8, mypy

feat: add support for setting cursor result set position for multi-result queries
  docs/api/cursors.rst
  psycopg/psycopg/_cursor_base.py
  tests/test_cursor_common.py
  tests/test_cursor_common_async.py
Due: isort, black, flake8, mypy

Fix AsyncCursor.copy concurrency
  psycopg/psycopg/cursor_async.py
Due: isort, black, flake8, mypy
