Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

black:
  name: black
  language: system
  entry: black --check --diff

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy --pretty --follow-imports=silent

style: adjust docstring after black 25.1.0 upgrade
  docs/lib/sql_role.py
  docs/lib/ticket_role.py
  tests/scripts/copytest.py
  tools/bump_version.py
  tools/update_backer.py
  tools/update_error_prefixes.py
Due: black, flake8, mypy

style: add isort plugin to sort imports with the desired style
  .gitignore
  tools/isort-psycopg/README.rst
  tools/isort-psycopg/isort_psycopg.py
  tools/isort-psycopg/pyproject.toml
Due: black, flake8, mypy

chore: add isort configuration
  .pre-commit-config.yaml
  psycopg/pyproject.toml
  pyproject.toml
  tools/async_to_sync.py
Due: black, flake8, mypy

chore(isort): add source link to project metadata, tweak readme
  tools/isort-psycopg/README.rst
  tools/isort-psycopg/pyproject.toml
Due: none

chore: tweak linters output in pre-commit
  .pre-commit-config.yaml
Due: none

ci(crdb): suspend testing with 25.1
  .github/workflows/tests.yml
Due: none

ci: add missing dependency to run isort --color
  psycopg/pyproject.toml
Due: none

ci(crdb): enable back crdb 25.1 tests
  .github/workflows/tests.yml
Due: none

chore(ci): drop stale comment
  .github/workflows/tests.yml
Due: none

ci(crdb): enable crdb 25.1 tests
  .github/workflows/tests.yml
Due: none

chore: tweak linters output in pre-commit
  .pre-commit-config.yaml
  psycopg/setup.cfg
Due: none

chore: add isort configuration
  .pre-commit-config.yaml
  psycopg/setup.cfg
  pyproject.toml
  tools/async_to_sync.py
Due: black, flake8, mypy

docs: mention UUID speedup in release news
  docs/news.rst
Due: none

perf(c): use UUID.__new__
  psycopg_c/psycopg_c/types/uuid.pyx
  tests/types/test_uuid.py
Due: black, flake8, mypy

perf(c): add Cython UUID dumper and loader
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/types/uuid.pyx
Due: none

perf(c): use PyObject_CallFunctionObjArgs in UUIDLoader
  psycopg_c/psycopg_c/types/uuid.pyx
Due: none

chore(c): remove C UUIDDumper and UUIDBinaryDumper
  psycopg_c/psycopg_c/types/uuid.pyx
  tests/types/test_uuid.py
Due: black, flake8, mypy

perf(uuid): speed up UUID creation using a writable subclass
  psycopg_c/psycopg_c/_uuid.py
  psycopg_c/psycopg_c/types/uuid.pyx
Due: black, flake8, mypy

perf(c): lazy load UUID
  psycopg_c/psycopg_c/types/uuid.pyx
Due: none

perf(c): Use hex_to_int_map in UUIDLoader
  psycopg_c/psycopg_c/types/uuid.pyx
  tests/types/test_uuid.py
Due: black, flake8, mypy

test(c): test UUID.__slots__
  tests/types/test_uuid.py
Due: black, flake8, mypy

perf(c): use PyObject_CallFunctionObjArgs in UUIDBinaryLoader
  psycopg_c/psycopg_c/types/uuid.pyx
Due: none

chore: bump psycopg package version to 3.2.5.dev1
  psycopg/setup.cfg
  psycopg_c/setup.cfg
Due: none

fix(pool): check that there is some connection in the pool before shrinking
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
Due: black, flake8, mypy

style: fix up with current version of black
  docs/lib/sql_role.py
  docs/lib/ticket_role.py
  tests/_test_cursor.py
  tests/typing_example.py
  tools/bump_version.py
  tools/update_backer.py
  tools/update_error_prefixes.py
Due: black, flake8, mypy

chore: bump psycopg_pool package version to 3.2.5.dev1
  psycopg_pool/setup.cfg
Due: none

chore: fix typo
  psycopg_c/psycopg_c/_psycopg.pyi
Due: black, mypy

chore: drop unused mypy ignore comment
  tests/fix_gc.py
Due: black, flake8, mypy

Path conditions:
  black: any of: \.py[i]?$
  flake8: any of: \.py$
  mypy: any of: \.py[i]?$
