Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  language: system
  entry: isort --diff --color --check

black:
  name: black
  language: system
  entry: black --check --diff --color --quiet

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy --pretty --follow-imports=silent

docs: add documentation for Transaction status
  docs/api/objects.rst
  docs/basic/transactions.rst
  docs/news.rst
Due: none

fix: make Transaction.Status a string enum
  psycopg/psycopg/transaction.py
Due: isort, black, flake8, mypy

docs: improvements to Transaction.status documentation
  docs/api/objects.rst
  docs/basic/transactions.rst
  docs/news.rst
  psycopg/psycopg/transaction.py
Due: isort, black, flake8, mypy

feat: allow to change loaders in results already returned
  docs/advanced/adapt.rst
  docs/api/connections.rst
  docs/api/cursors.rst
  docs/news.rst
  psycopg/psycopg/_adapters_map.py
  psycopg/psycopg/_cursor_base.py
  psycopg/psycopg/abc.py
  tests/test_cursor_common.py
  tests/test_cursor_common_async.py
Due: isort, black, flake8, mypy

fix: don't throw errors on COPY_BOTH results
  psycopg/psycopg/_cursor_base.py
Due: isort, black, flake8, mypy

feat(pool): add `drain()` method
  docs/api/pool.rst
  docs/news_pool.rst
  psycopg/psycopg/_connection_base.py
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool_common.py
  tests/pool/test_pool_common_async.py
Due: isort, black, flake8, mypy

docs: add documentation for sql.as_string() and as_bytes() functions
  docs/api/sql.rst
  docs/basic/tstrings.rst
  psycopg/psycopg/_tstrings.py
  psycopg/psycopg/sql.py
Due: isort, black, flake8, mypy

fix(c): make sure to return bytes from `Literal.as_bytes()`
  psycopg_c/psycopg_c/_psycopg/transform.pyx
  tests/test_sql.py
Due: isort, black, flake8, mypy

feat: add sql.as_string(), sql.as_bytes() functions
  psycopg/psycopg/_tstrings.py
  psycopg/psycopg/sql.py
  tests/test_sql.py
  tests/test_tstring.py
Due: isort, black, flake8, mypy

feat: allow sql.as_string() and as_bytes() to convert values as literals
  psycopg/psycopg/sql.py
  tests/test_sql.py
Due: isort, black, flake8, mypy

docs: drop cautionary warnings about t-strings
  docs/basic/tstrings.rst
Due: none

Fix lint errors
  psycopg_c/build_backend/psycopg_build_ext.py
Due: isort, black, flake8, mypy

Skip more tests that fail under the free-threaded build
  tests/pool/test_pool_async.py
  tests/test_notify_async.py
Due: isort, black, flake8, mypy

Add more multithreaded tests for connection and cursor
  .github/workflows/tests.yml
  psycopg_c/build_backend/psycopg_build_ext.py
  tests/test_concurrency.py
Due: isort, black, flake8, mypy

Skip tetst that depend on gc.collect on free-threaded build
  tests/fix_gc.py
Due: isort, black, flake8, mypy

Address feedback
  tests/fix_gc.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
  tests/test_concurrency.py
  tests/test_free_threading.py
  tests/test_notify.py
  tests/test_notify_async.py
  tests/utils.py
Due: isort, black, flake8, mypy

Generate from async_to_sync; refactor gc fixtures
  tests/fix_gc.py
  tests/pool/test_pool.py
  tests/test_notify.py
Due: isort, black, flake8, mypy

refactor(test): drop unneeded bool()
  tests/fix_gc.py
  tests/utils.py
Due: isort, black, flake8, mypy

test: add free-threading-specific tests
  .github/workflows/tests.yml
  psycopg_c/build_backend/psycopg_build_ext.py
  tests/fix_gc.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
  tests/test_free_threading.py
  tests/test_notify.py
  tests/test_notify_async.py
  tests/utils.py
Due: isort, black, flake8, mypy

Mark external libpq C functions as noexcept nogil
  psycopg_c/psycopg_c/_psycopg/endian.pxd
  psycopg_c/psycopg_c/pq/libpq.pxd
Due: isort

docs: 3.3 release notes cleanup and other small fixes
  docs/basic/transactions.rst
  docs/basic/tstrings.rst
  docs/news.rst
Due: none

chore: bump Mypy min required version to 1.19
  .github/workflows/tests.yml
  psycopg/pyproject.toml
  psycopg_c/psycopg_c/_uuid.py
  tests/constraints.txt
Due: isort, black, flake8, mypy

fix)composite): rename make_instance to make_object
  docs/basic/pgtypes.rst
  psycopg/psycopg/types/composite.py
  tests/types/test_composite.py
Due: isort, black, flake8, mypy

fix(composite): pass the entire info object to the custom functions
  docs/basic/pgtypes.rst
  psycopg/psycopg/types/composite.py
  tests/types/test_composite.py
Due: isort, black, flake8, mypy

fix: mark new register_composite() args as keyword only
  psycopg/psycopg/types/composite.py
Due: isort, black, flake8, mypy

chore: bump psycopg package version to 3.3.0
  docs/news.rst
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

chore: bump psycopg_pool package version to 3.3.0
  docs/news_pool.rst
  psycopg_pool/pyproject.toml
Due: none

chore: bump psycopg package version to 3.3.1.dev1
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

chore: bump psycopg_pool package version to 3.3.1.dev1
  psycopg_pool/pyproject.toml
Due: none

fix: add test to verify iteration in server-side cursor broken
  tests/test_cursor_server.py
  tests/test_cursor_server_async.py
Due: isort, black, flake8, mypy

fix: fix iteration on server-side cursor
  docs/news.rst
  psycopg/psycopg/_server_cursor.py
  psycopg/psycopg/_server_cursor_async.py
Due: isort, black, flake8, mypy

chore: bump psycopg package version to 3.3.1
  docs/news.rst
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

chore: bump psycopg package version to 3.3.2.dev1
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

docs: larger font for 3.3.0 release
  docs/news.rst
Due: none

fix: mark external libpq C functions as noexcept nogil
  psycopg_c/psycopg_c/_psycopg/endian.pxd
  psycopg_c/psycopg_c/pq/libpq.pxd
Due: isort

fix(adapters): avoid race condition when replacing class name with itself
  docs/news.rst
  psycopg/psycopg/_adapters_map.py
Due: isort, black, flake8, mypy

chore: bump psycopg package version to 3.3.2
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

chore: bump psycopg package version to 3.3.3.dev1
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
Due: none

Path conditions:
  isort: any of: \.(py[i]?|pxd|pyx)$
  black: any of: \.py[i]?$, but not: tests/test_tstring.py
  flake8: any of: \.py$, but not: tests/test_tstring.py
  mypy: any of: \.py[i]?$, but not: tests/test_tstring.py
