Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  language: system
  entry: isort --diff --color --check

black:
  name: black
  language: system
  entry: black --check --diff --color --quiet

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy --pretty --follow-imports=silent

Raise DataError instead of ValueError for an invalid enum label
  psycopg/psycopg/types/enum.py
  tests/types/test_enum.py
Due: isort, black, flake8, mypy

Add opt-in infinity date adapters (#1368)
  docs/advanced/adapt.rst
  psycopg/psycopg/types/datetime.py
  tests/types/test_datetime.py
Due: isort, black, flake8, mypy

fix(c): guard NULL TimeZone ParameterStatus, fallback to UTC
  psycopg_c/psycopg_c/types/datetime.pyx
Due: isort

fix(pool): fix handling of reconnect_failed callback in null pools
  docs/api/pool.rst
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/null_pool.py
  psycopg_pool/psycopg_pool/null_pool_async.py
  tests/pool/test_pool_null.py
  tests/pool/test_pool_null_async.py
Due: isort, black, flake8, mypy

fix(c): fix segfault creating text/tz loaders after connection close
  docs/news.rst
  psycopg_c/psycopg_c/types/datetime.pyx
  psycopg_c/psycopg_c/types/string.pyx
  tests/types/test_array.py
Due: isort, black, flake8, mypy

fix: create array element loaders at query time
  psycopg/psycopg/types/array.py
  psycopg_c/psycopg_c/types/array.pyx
  tests/types/test_array.py
Due: isort, black, flake8, mypy

test: skip tests disabling standard-conforming strings on Postgres 19
  tests/fix_crdb.py
  tests/fix_db.py
  tests/pq/test_escaping.py
  tests/test_sql.py
  tests/types/test_string.py
Due: isort, black, flake8, mypy

ci: add Postgres 19 beta 4 to the test grid
  .github/workflows/tests.yml
Due: none

docs: drop the 'alot' reference.
  docs/api/pool.rst
  pyproject.toml
Due: none

test: rename test host to avoid being grumped at by codespell
  tests/fix_dns.py
  tests/test_conninfo_attempts.py
  tests/test_conninfo_attempts_async.py
Due: isort, black, flake8, mypy

Avoid growing healthy pools during check
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

fix(pool): don't add a new connection calling check
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

ci: move test runs to macos-latest
  .github/workflows/tests.yml
Due: none

test: mark numeric limits dumping test slow
  tests/types/test_numeric.py
Due: isort, black, flake8, mypy

Build wheels for Windows on ARM
  .github/workflows/packages-bin.yml
  .github/workflows/tests.yml
  tools/ci/pg_config_vcpkg_stub/pg_config_vcpkg_stub/__init__.py
  tools/ci/wheel_win32_before_build.bat
Due: isort, black, flake8, mypy

There is no arm64-windows-release triplet in vcpkg
  .github/workflows/tests.yml
  tools/ci/pg_config_vcpkg_stub/pg_config_vcpkg_stub/__init__.py
  tools/ci/wheel_win32_before_build.bat
Due: isort, black, flake8, mypy

Detect PostgreSQL service on Windows instead of assuming install state
  .github/workflows/tests.yml
Due: none

Clean up Windows matrices
  .github/workflows/packages-bin.yml
  .github/workflows/tests.yml
Due: none

refactor: rewrite wait loop on connect in a more compact way
  psycopg/psycopg/generators.py
  psycopg_c/psycopg_c/_psycopg/generators.pyx
Due: isort, black, flake8, mypy

test: add pool wait to fix test flakiness
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

fix: don't poll the cancel connection if the socket is not ready
  docs/news.rst
  psycopg/psycopg/generators.py
  psycopg_c/psycopg_c/_psycopg/generators.pyx
  tests/test_generators.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.(py[i]?|pxd|pyx)$
  black: any of: \.py[i]?$, but not: tests/test_tstring.py
  flake8: any of: \.py$, but not: tests/test_tstring.py
  mypy: any of: \.py[i]?$, but not: tests/test_tstring.py
