Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

fixup! fixup! test: PostgreSQL catalog type loaders
  tests/types/test_catalog.py
Due: isort, black, flake8, mypy

fixup! Add overflow checks and __sub__ overloads
  psycopg/psycopg/types/_catalog.py
  psycopg/psycopg/types/lsn.py
  psycopg/psycopg/types/tid.py
Due: isort, black, flake8, mypy

Add overflow checks and __sub__ overloads
  psycopg/psycopg/types/_catalog.py
  psycopg/psycopg/types/cid.py
  psycopg/psycopg/types/int2vector.py
  psycopg/psycopg/types/lsn.py
  psycopg/psycopg/types/oidvector.py
  psycopg/psycopg/types/tid.py
  psycopg/psycopg/types/xid.py
Due: isort, black, flake8, mypy

test: more tests
  tests/types/test_catalog.py
Due: isort, black, flake8, mypy

Bump OpenSSL version to 3.5.7 for vuln remediation
  .github/workflows/build-and-cache-libpq.yml
  .github/workflows/packages-bin.yml
Due: none

test(perf): update copytest script
  tests/scripts/copytest.py
Due: isort, black, flake8, mypy

perf(c): optimize parse_row_text and parse_row_binary
  psycopg_c/psycopg_c/_psycopg/copy.pyx
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

fix(c): fix variable used in fetch_many to check for returned errors
  psycopg/psycopg/generators.py
  psycopg_c/psycopg_c/_psycopg/generators.pyx
Due: isort, black, flake8, mypy

chore: bump cython-lint to latest version
  psycopg/pyproject.toml
  psycopg_c/psycopg_c/types/numeric.pyx
Due: isort

fix: wait_selector KeyError
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

perf: only reregister fileno when necessary in wait_conn
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

chore(deps): upgrade mypy to version 2.1.0
  psycopg/pyproject.toml
  psycopg_pool/pyproject.toml
  pyproject.toml
  tests/constraints.txt
Due: none

perf(py): avoid unnecessary copy of memoryview to bytes
  psycopg/psycopg/types/array.py
  psycopg/psycopg/types/net.py
  psycopg/psycopg/types/numeric.py
  psycopg/psycopg/types/string.py
  psycopg/psycopg/types/uuid.py
Due: isort, black, flake8, mypy

ci: add explicit tags-ignore to workflows
  .github/workflows/3rd-party-tests.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

doc(dev): add note about local testing
  README.rst
Due: none

chore: remove unreachable line
  psycopg/psycopg/types/net.py
Due: isort, black, flake8, mypy

dev: ignore attr-defined errors in waiting.py
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

ALT: option to fix attribute defined errors
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

ALT: fix mypy attr-defined errors without no_type_check
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

test: main loop of each of the wait functions
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy

docs: add news item about wait_selector fix
  docs/news.rst
Due: none

perf: improve performance of wait_conn_async
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

docs: fix typo in wait_selector and wait_conn docstring
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

perf: improve performance of wait_async
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

refactor: prefer get_running_loop
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

perf(async): new wait_async implementations
  psycopg/psycopg/abc.py
  psycopg/psycopg/waiting.py
Due: isort, black, flake8, mypy

test(utils): allow skipping regular functions with skip_sync
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

test: new async wait functions
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy

test: add helpful comments to some tests
  tests/test_connection.py
  tests/test_connection_async.py
Due: isort, black, flake8, mypy

test: make test_type_error_shadow pass/fail more reliably
  tests/test_concurrency_async.py
Due: isort, black, flake8, mypy

perf: get rid of ph_index in _split_query
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy

perf: don't call `m.group(1) twice in _split_query
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy

perf: reduce backtracking in _split_query
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy

perf: avoid extra programming error checks in common case
  psycopg/psycopg/_queries.py
Due: isort, black, flake8, mypy
