Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  language: system
  entry: isort --diff --color --check

black:
  name: black
  language: system
  entry: black --check --diff --color --quiet

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy --pretty --follow-imports=silent

fix(pool): fix infinite loop with connections returning to the pool on close
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

fix(pool): more robust placement of reconnection attempts
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

feat(pool): add connection subclasses to enable putconn-on-close
  psycopg_pool/psycopg_pool/_compat.py
Due: isort, black, flake8, mypy

test(pool): make sure that returned connection have the pool set
  tests/pool/test_pool_common.py
  tests/pool/test_pool_common_async.py
  tests/pool/test_pool_null.py
  tests/pool/test_pool_null_async.py
Due: isort, black, flake8, mypy

feat(pool): add close_returns
  psycopg/psycopg/connection.py
  psycopg/psycopg/connection_async.py
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/null_pool.py
  psycopg_pool/psycopg_pool/null_pool_async.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
  tests/pool/test_pool_null.py
  tests/pool/test_pool_null_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

docs(pool): add documentation for close_returns
  docs/advanced/pool.rst
  docs/api/pool.rst
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

fix(pool): fix infinite loop with close_returns=True
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

docs(pool): consistent sync/async examples in SQLAlchemy NullPool example
  docs/advanced/pool.rst
Due: none

docs(pool): a proto-only SQLAlchemy url suffices as we are passing a creator
  docs/advanced/pool.rst
Due: none

Implement Cython RecordLoader
  psycopg_c/psycopg_c/types/composite.pyx
Due: isort

feat(pq): add libpq OAuth support structures and functions
  psycopg/psycopg/pq/_enums.py
  psycopg/psycopg/pq/_pq_ctypes.py
  psycopg/psycopg/pq/_pq_ctypes.pyi
Due: isort, black, flake8, mypy

added docs for transaction status
  docs/api/objects.rst
  docs/basic/transactions.rst
Due: none

Introduce a way to update connection pool credentials dynamically without requiring pool recreation.
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

a bit rename tests.
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

improve `async_to_sync` script.
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

add new tests. improve existing ones.
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

test: mark test slow
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

text dumpers for range types
  psycopg_c/psycopg_c/types/range.pyx
Due: isort

micro-opt: fast lookup bounds from RANGE_LB_INC and RANGE_UB_INC
  psycopg/psycopg/types/range.py
Due: isort, black, flake8, mypy

simplify lookup
  psycopg/psycopg/types/range.py
Due: isort, black, flake8, mypy

implement binary range loaders
  psycopg_c/psycopg_c/types/range.pyx
Due: isort

use row_loader
  psycopg_c/psycopg_c/types/range.pyx
Due: isort

load by oid on init, rename to subtype_oid
  psycopg/psycopg/types/range.py
  psycopg_c/psycopg_c/types/range.pyx
Due: isort, black, flake8, mypy

assemble range in cython
  psycopg_c/psycopg_c/types/range.pyx
Due: isort

corrected examples in doc
  docs/basic/transactions.rst
  docs/news.rst
Due: none

added status tests for nested transactions
  tests/test_transaction.py
  tests/test_transaction_async.py
Due: isort, black, flake8, mypy

removed enter/exit attributes from transaction
  psycopg/psycopg/transaction.py
Due: isort, black, flake8, mypy

fix storing dump on instance
  psycopg/psycopg/types/range.py
Due: isort, black, flake8, mypy

ci: enable lint on pull requests
  .github/workflows/lint.yml
Due: none

addressing PR remarks.
  psycopg_pool/psycopg_pool/abc.py
  psycopg_pool/psycopg_pool/base.py
  psycopg_pool/psycopg_pool/null_pool_async.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tools/async_to_sync.py
Due: isort, black, flake8, mypy

addressing PR remarks.
  psycopg_pool/psycopg_pool/abc.py
  psycopg_pool/psycopg_pool/null_pool.py
Due: isort, black, flake8, mypy

addressing PR remarks.
  psycopg_pool/psycopg_pool/_acompat.py
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

addressing PR remarks.
  psycopg_pool/psycopg_pool/abc.py
Due: isort, black, flake8, mypy

fix(copy): restore selecting loader for each item
  psycopg_c/psycopg_c/_psycopg/copy.pyx
  tests/test_copy.py
  tests/test_copy_async.py
Due: isort, black, flake8, mypy

test(copy): cover the Python implementation in copy pinning tests
  tests/test_copy.py
  tests/test_copy_async.py
Due: isort, black, flake8, mypy

docs: add note about fixing the copy pinning issue
  docs/news.rst
Due: none

Path conditions:
  isort: any of: \.(py[i]?|pxd|pyx)$
  black: any of: \.py[i]?$, but not: tests/test_tstring.py
  flake8: any of: \.py$, but not: tests/test_tstring.py
  mypy: any of: \.py[i]?$, but not: tests/test_tstring.py
