Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
#
# Note: we use `language: system` to make sure that pre-commit uses the same
# dependencies installed by `pip install psycopg[dev]` and not some random
# version installed in a hidden virtualenv. This way running the tools via
# pre-commit should give the same result of running them manually.
#
# Please check README.rst about setting up a development env.

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: system
        entry: isort --diff --color --check
        files: \.(py[i]?|pxd|pyx)$

      - id: black
        name: black
        language: system
        entry: black --check --diff --color --quiet
        files: \.py[i]?$
        exclude: tests/test_tstring.py

      - id: codespell
        name: codespell
        language: system
        entry: codespell

      - id: flake8
        name: flake8
        language: system
        entry: flake8
        files: \.py$
        exclude: tests/test_tstring.py

      - id: mypy
        name: mypy
        language: system
        entry: mypy --pretty --follow-imports=silent
        files: \.py[i]?$
        exclude: tests/test_tstring.py

test: use an empty generator in SystemExit wait tests
  tests/test_concurrency.py
  tests/test_concurrency_async.py
Due: isort, black, flake8, mypy

test: verify SystemExit cancels in-flight query on the server
  tests/test_concurrency.py
  tests/test_concurrency_async.py
Due: isort, black, flake8, mypy

fix: report no precision for interval columns with a fields restriction
  docs/news.rst
  psycopg/psycopg/_typemod.py
  psycopg/psycopg/crdb/_types.py
  psycopg/psycopg/postgres.py
  tests/test_column.py
  tools/update_oids.py
Due: isort, black, flake8, mypy

style: drop isort>=9 workaround comment per review
  pyproject.toml
Due: none

Address review: drop stack-reference from the isort comment
  tools/isort-psycopg/isort_psycopg.py
Due: isort, black, flake8, mypy

config: revert plug-in patch (moved to #1395)
  tools/isort-psycopg/isort_psycopg.py
Due: isort, black, flake8, mypy

config: pin isort-psycopg >= 0.0.3 and drop isort upper bound
  psycopg/pyproject.toml
Due: none

config: pin isort-psycopg >= 0.0.3
  psycopg/pyproject.toml
Due: none

chore: probe token write
  _probe_token.txt
Due: none

chore: delete probe
  _probe_token.txt
Due: none

chore: probe
  .github/workflows/_probe.yml
Due: none

chore: del
  .github/workflows/_probe.yml
Due: none

ci: revert lint.yml to base (working-tree plug-in install moved out)
  .github/workflows/lint.yml
Due: none

fix: handle nested list subclasses in array dumper
  psycopg/psycopg/types/array.py
  tests/types/test_array.py
Due: isort, black, flake8, mypy

docs: warn about sequential scans on out-of-range integer literals in sql.Literal
  psycopg/psycopg/sql.py
Due: isort, black, flake8, mypy

docs: address review feedback on sql.Literal warning
  psycopg/psycopg/sql.py
Due: isort, black, flake8, mypy

docs: keep the article URL within the line length limit
  psycopg/psycopg/sql.py
Due: isort, black, flake8, mypy

Fix async pool cancellation during connection checks
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

Update generated sync pool implementation
  psycopg_pool/psycopg_pool/pool.py
Due: isort, black, flake8, mypy

Update test_cancel_on_check to assert CancelledError
  tests/pool/test_pool_common_async.py
Due: isort, black, flake8, mypy

fix: fix endian detection in emscripten platform
  psycopg_c/psycopg_c/_psycopg/endian.pxd
Due: isort

docs: warn about sequential scans on out-of-range integer literals in sql.Literal
  docs/basic/adapt.rst
Due: none

docs: fix imprecisions about the problem with int overflow as query params
  docs/basic/adapt.rst
Due: none

fix(isort-psycopg): make psycosort compatible with isort >= 9
  tools/isort-psycopg/isort_psycopg.py
  tools/isort-psycopg/pyproject.toml
Due: isort, black, flake8, mypy

chore: fix psycopg import style with isort 9
  psycopg/pyproject.toml
  pyproject.toml
Due: none

fix: handle nested list subclasses in array dumper
  docs/news.rst
  psycopg/psycopg/types/array.py
  tests/types/test_array.py
Due: isort, black, flake8, mypy

Fix flaky `test_stats_usage` test
  tests/pool/test_pool_common.py
  tests/pool/test_pool_common_async.py
Due: isort, black, flake8, mypy

Add support for Python 3.15
  .github/workflows/lint.yml
  .github/workflows/packages-bin.yml
  .github/workflows/tests.yml
  docs/basic/install.rst
  docs/news.rst
  psycopg/pyproject.toml
  psycopg_c/pyproject.toml
  psycopg_pool/pyproject.toml
Due: none

fix: cancel a running query on SystemExit
  docs/news.rst
  psycopg/psycopg/connection.py
  psycopg/psycopg/connection_async.py
  tests/test_concurrency.py
  tests/test_concurrency_async.py
Due: isort, black, flake8, mypy

test: run server cancellation tests on windows too
  tests/test_concurrency.py
  tests/test_concurrency_async.py
Due: isort, black, flake8, mypy

fix(pool): handle BaseException correctly during check
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool_common.py
  tests/pool/test_pool_common_async.py
Due: isort, black, flake8, mypy

docs: name the get_oid() parameter the way the signature does
  psycopg/psycopg/_typeinfo.py
Due: isort, black, flake8, mypy

ci: add PyEmscriptn support
  .github/workflows/packages-bin.yml
  tests/test_pyodide.py
  tools/ci/run_pyodide_tests.mjs
  tools/ci/wheel_pyodide_before_build.sh
Due: isort, black, flake8, mypy
