Repository psycopg/psycopg: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  language: system
  entry: isort --diff --color --check

black:
  name: black
  language: system
  entry: black --check --diff --color --quiet

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy --pretty --follow-imports=silent

fix windowing increment
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

test: add a couple of test implementation for load_rows
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

alloca for the rescue
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

testcase for pagination
  tests/test_row_pagination_c.py
Due: isort, black, flake8, mypy

last code version with page_size attribute
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

some cleanup
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

fix: basic Cython improvements to row iteration
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/_psycopg/transform.pyx
  tests/test_row_pagination_c.py
Due: isort, black, flake8, mypy

resort back to col-row iteration
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

renamed transaction_state to status
  psycopg/psycopg/transaction.py
Due: isort, black, flake8, mypy

added tests for status changes
  tests/test_transaction.py
  tests/test_transaction_async.py
Due: isort, black, flake8, mypy

optimized c_range_dump
  psycopg_c/psycopg_c/types/numeric.pyx
Due: isort

removed unnecessary tests
  tests/test_transaction.py
  tests/test_transaction_async.py
Due: isort, black, flake8, mypy

resort to OID based dumper inference
  psycopg/psycopg/types/range.py
  psycopg_c/psycopg_c/types/numeric.pyx
Due: isort, black, flake8, mypy

tests for failure status of transaction
  tests/test_transaction.py
  tests/test_transaction_async.py
Due: isort, black, flake8, mypy

fix fail_dump constellation
  psycopg_c/psycopg_c/types/numeric.pyx
Due: isort

fix None return from dump treated as inf
  psycopg_c/psycopg_c/types/numeric.pyx
Due: isort

improvised on creating connection
  tests/test_transaction.py
  tests/test_transaction_async.py
Due: isort, black, flake8, mypy

optimize bytearrays in _buffer_as_string_and_size (~10% faster)
  psycopg_c/psycopg_c/pq/pqbuffer.pyx
Due: isort

move code to proper place
  psycopg_c/psycopg_c/_psycopg.pyx
  psycopg_c/psycopg_c/types/numeric.pyx
  psycopg_c/psycopg_c/types/range.pyx
Due: isort

base impl for cdumpers
  bench_range.py
  psycopg/psycopg/types/range.py
  psycopg_c/psycopg_c/types/range.pyx
Due: isort, black, flake8, mypy

fix replace bytes by bytearray
  bench_range.py
  psycopg/psycopg/types/range.py
  psycopg_c/psycopg_c/types/range.pyx
Due: isort, black, flake8, mypy

inplace writing for cdump
  psycopg/psycopg/types/range.py
  psycopg_c/psycopg_c/types/range.pyx
Due: isort, black, flake8, mypy

perf: load results by row rather than by column
  docs/news.rst
  psycopg_c/psycopg_c/_psycopg/transform.pyx
Due: isort

chore: bump psycopg package version to 3.2.11
  docs/news.rst
  psycopg/setup.cfg
  psycopg_c/setup.cfg
Due: none

ci: fix proxy-based tests
  .github/workflows/packages-bin.yml
  tests/fix_proxy.py
  tools/pproxy_fix.py
Due: isort, black, flake8, mypy

chore: bump psycopg_pool package version to 3.2.7.dev1
  psycopg_pool/setup.cfg
Due: none

chore: fix problems reported by mypy 1.14.1
  tests/types/test_datetime.py
Due: isort, black, flake8, mypy

chore: drop unneeded nonlocal declarations
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
  tests/pool/test_pool_common.py
  tests/pool/test_pool_common_async.py
  tests/pool/test_pool_null.py
  tests/pool/test_pool_null_async.py
  tests/test_concurrency.py
  tests/test_concurrency_async.py
  tests/test_errors.py
Due: isort, black, flake8, mypy

chore: make code compatible with Mypy 1.14 and 1.16
  pyproject.toml
  tests/scripts/spiketest.py
Due: isort, black, flake8, mypy

chore: bump mypy version to 1.14
  psycopg/setup.cfg
  tests/constraints.txt
  tests/types/test_datetime.py
Due: isort, black, flake8, mypy

lint: add typing annotations to pass pre-commit
  psycopg/psycopg/_cmodule.py
  psycopg/psycopg/_connection_base.py
  psycopg/psycopg/_copy_base.py
  psycopg/psycopg/_cursor_base.py
  pyproject.toml
  tests/scripts/pipeline-demo.py
  tests/test_adapt.py
  tests/types/test_array.py
  tests/types/test_range.py
Due: isort, black, flake8, mypy

fest: mark test flakey to unblock wheel packages
  tests/test_waiting.py
  tests/test_waiting_async.py
Due: isort, black, flake8, mypy

chore: adapt license metadata to license expression
  psycopg/setup.cfg
  psycopg_c/setup.cfg
  psycopg_pool/setup.cfg
Due: none

chore: bump psycopg package version to 3.2.12.dev1
  psycopg/setup.cfg
  psycopg_c/setup.cfg
Due: none

fix(pool): reset connection transaction status after failed check
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
  tests/pool/test_pool.py
  tests/pool/test_pool_async.py
Due: isort, black, flake8, mypy

chore: bump psycopg_pool package version to 3.2.6
  docs/news_pool.rst
  psycopg_pool/setup.cfg
Due: none

chore: bump psycopg_pool package version to 3.2.5
  docs/news_pool.rst
  psycopg_pool/setup.cfg
Due: none

fix(pool): check that there is some connection in the pool before shrinking
  docs/news_pool.rst
  psycopg_pool/psycopg_pool/pool.py
  psycopg_pool/psycopg_pool/pool_async.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.(py[i]?|pxd|pyx)$
  black: any of: \.py[i]?$, but not: tests/test_tstring.py
  flake8: any of: \.py$, but not: tests/test_tstring.py
  mypy: any of: \.py[i]?$, but not: tests/test_tstring.py
